footer{
    display: flex;
    justify-content: space-between;
    max-width: 100%;

    div{
        width: 40%;
        max-width: 250px;
        padding: 1%;
        text-align: center;

        a{
            color: black;
            padding-left: 10px;
        }
    }
    #mention{
        width: 60%;
        max-width: 1024px;
    }
}