footer{
    display: flex;
    justify-content: flex-start;
    max-width: 100%;

    div{
        width: 40%;
        max-width: 250px;
        padding: 1%;

        a{
            color: black;
            padding-left: 10px;
        }
    }
}