$lightColor: rgb(230, 230, 230);
$lightBorder: rgb(187, 187, 187);
$blueShadow: rgb(136, 202, 255);
$darkColor: rgb(60, 60, 60);
$bodyColor: rgb(20, 20, 20);
$redShadow: rgb(250, 40, 40);
$lightText: rgb(255, 200, 200);