@import 'variables';
@import 'intro';
@import 'services';
@import 'team';
@import 'contact';
@import 'footer';

@keyframes enter {
    0% {
        position: absolute;
        left: -20vw;
    }
    20%{
        position: absolute;
        left: -8vw;
    }
    40%{
        position: absolute;
        left: 4vw;
    }
    60%{
        position: absolute;
        left: 16vw;
    }
    80%{
        position: absolute;
        left: 28vw;
    }
    100%{
        position: inherit;
    }
}

@keyframes ghost {
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
}
.darkBody{
    background-color: $bodyColor;
    color: $redShadow;
}
.darkColored {
    background-color: $darkColor;
}
.bottonColored{
    background-color: $darkColor;
    border-color: $redShadow;
    border-style: inset;
    color: $redShadow;
    box-shadow: 0 0 10px $redShadow;
}
.navDark{
    background-color: $darkColor;
    border-color: $redShadow;
    box-shadow: 3px 3px 4px $redShadow;

    a {
        color: $redShadow;
    }
}


body {
    max-width: 1900px;
    margin: auto;
    font-family: 'Cinzel Decorative', cursive;

    .colored{
        background-color: $lightColor;
    }
    nav {
        position: fixed;
        height: 50px;
        width: 100%;
        border-bottom: 1px solid $lightBorder;
        box-shadow: 3px 3px 4px $blueShadow;
        ul {
            display: flex;
            justify-content: flex-end;
            li{
                list-style: none;
                margin: 2px 10px;
                padding: 10px;

                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
        button {
            position: absolute;
            top: 2px;
            left: 20px;
            width: 45px;
            height: 45px;
            color: $blueShadow;
            border-color: rgba(136, 201, 255, 0.452);
            box-shadow: 0px 0px 10px $blueShadow;
            border-radius: 50%;
            background: rgba(214, 214, 214, 0.466);
        }
        p{
            position: absolute;
            top:10px;
            left: 70px;
            opacity: 0;
        }
        button:hover + p{
            transition: 1s;
            opacity: 1;
        }
        #burger{
            display: none;
            position: absolute;
            right: 20px;
            top: 5px;
        }
    }
    header {
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $lightBorder;

        #bigTitle {
            animation: enter 0.8s linear;
            align-self: center;
            
            h1{
                font-size: 3.5em;
            }

            p {
                animation: ghost 3s ease-in;
                margin-left: 200px;
            }
        }
    }
    
    .card{
        margin: 2%;
        padding: 2%;
        width: 22%;
        min-width: 250px;
        max-width: 400px;
        text-align: center;
        background-color: #ffffff;
        border: solid 1px rgb(184, 182, 182);
    }

    footer {
        width: 100vw;
        height: 10vh;
    }
}