#intro {
  padding-top: 5%;
}

#intro h2 {
  text-align: center;
}

#intro hr {
  width: 10%;
  border-radius: 50%;
  margin: auto;
}

#intro p {
  padding: 2%;
  padding-bottom: 5%;
}

#services {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

#services hr {
  width: 10%;
  border-radius: 50%;
  margin: auto;
}

#services #cardServ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#services #cardServ .card {
  margin: 2%;
  padding: 2%;
  width: 22%;
  min-width: 250px;
  max-width: 400px;
  text-align: center;
  background-color: #ffffff;
  border: solid 1px #b8b6b6;
}

#services #cardServ .darkCard {
  margin: 2%;
  padding: 2%;
  width: 22%;
  min-width: 250px;
  max-width: 400px;
  text-align: center;
  background-color: #141414;
  border: solid 1px #fa2828;
}

#equipe {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

#equipe hr {
  width: 10%;
  border-radius: 50%;
  margin: auto;
}

#equipe #cardEquipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#equipe #cardEquipe .profil {
  margin: 2%;
  padding: 2%;
  width: 22%;
  min-width: 250px;
  max-width: 400px;
  text-align: center;
  background-color: #ffffff;
  border: solid 1px #b8b6b6;
}

#equipe #cardEquipe .profil .imgProfil {
  max-width: 100%;
}

#equipe #cardEquipe .profil .imgProfil img {
  max-width: 100%;
  max-height: 100%;
}

#equipe #cardEquipe .darkProfil {
  margin: 2%;
  padding: 2%;
  width: 22%;
  min-width: 250px;
  max-width: 400px;
  text-align: center;
  background-color: #3c3c3c;
  border: solid 1px #fa2828;
}

#equipe #cardEquipe .darkProfil .imgProfil {
  max-width: 100%;
}

#equipe #cardEquipe .darkProfil .imgProfil img {
  max-width: 100%;
  max-height: 100%;
}

#contact {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

#contact #formulaire {
  margin: auto;
  width: 50%;
  max-width: 600px;
}

#contact #formulaire div {
  padding: 1%;
  width: 100%;
  text-align: right;
}

#contact #formulaire div input {
  width: 65%;
}

#contact #formulaire div textarea {
  width: 65%;
  border-radius: 5px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 100%;
}

footer div {
  width: 40%;
  max-width: 250px;
  padding: 1%;
}

footer div a {
  color: black;
  padding-left: 10px;
}

@-webkit-keyframes enter {
  0% {
    position: absolute;
    left: -20vw;
  }
  20% {
    position: absolute;
    left: -8vw;
  }
  40% {
    position: absolute;
    left: 4vw;
  }
  60% {
    position: absolute;
    left: 16vw;
  }
  80% {
    position: absolute;
    left: 28vw;
  }
  100% {
    position: inherit;
  }
}

@keyframes enter {
  0% {
    position: absolute;
    left: -20vw;
  }
  20% {
    position: absolute;
    left: -8vw;
  }
  40% {
    position: absolute;
    left: 4vw;
  }
  60% {
    position: absolute;
    left: 16vw;
  }
  80% {
    position: absolute;
    left: 28vw;
  }
  100% {
    position: inherit;
  }
}

@-webkit-keyframes ghost {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ghost {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

.darkBody {
  background-color: #141414;
  color: #fa2828;
}

.darkColored {
  background-color: #3c3c3c;
}

.bottonColored {
  background-color: #3c3c3c;
  border-color: #fa2828;
  border-style: inset;
  color: #fa2828;
  -webkit-box-shadow: 0 0 10px #fa2828;
          box-shadow: 0 0 10px #fa2828;
}

.navDark {
  background-color: #3c3c3c;
  border-color: #fa2828;
  -webkit-box-shadow: 3px 3px 4px #fa2828;
          box-shadow: 3px 3px 4px #fa2828;
}

.navDark a {
  color: #fa2828;
}

body {
  max-width: 1900px;
  margin: auto;
  font-family: 'Cinzel Decorative', cursive;
}

body .colored {
  background-color: #e6e6e6;
}

body nav {
  position: fixed;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #bbbbbb;
  -webkit-box-shadow: 3px 3px 4px #88caff;
          box-shadow: 3px 3px 4px #88caff;
}

body nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body nav ul li {
  list-style: none;
  margin: 2px 10px;
  padding: 10px;
}

body nav ul li a {
  text-decoration: none;
  color: black;
}

body nav button {
  position: absolute;
  top: 2px;
  left: 20px;
  width: 45px;
  height: 45px;
  color: #88caff;
  border-color: rgba(136, 201, 255, 0.452);
  -webkit-box-shadow: 0px 0px 10px #88caff;
          box-shadow: 0px 0px 10px #88caff;
  border-radius: 50%;
  background: rgba(214, 214, 214, 0.466);
}

body nav p {
  position: absolute;
  top: 10px;
  left: 70px;
  opacity: 0;
}

body nav button:hover + p {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
}

body nav #burger {
  display: none;
  position: absolute;
  right: 20px;
  top: 5px;
}

body header {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #bbbbbb;
}

body header #bigTitle {
  -webkit-animation: enter 0.8s linear;
          animation: enter 0.8s linear;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body header #bigTitle h1 {
  font-size: 3.5em;
}

body header #bigTitle p {
  -webkit-animation: ghost 3s ease-in;
          animation: ghost 3s ease-in;
  margin-left: 200px;
}

body .card {
  margin: 2%;
  padding: 2%;
  width: 22%;
  min-width: 250px;
  max-width: 400px;
  text-align: center;
  background-color: #ffffff;
  border: solid 1px #b8b6b6;
}

body footer {
  width: 100vw;
  height: 10vh;
}
/*# sourceMappingURL=style.css.map */